<div class="gif_wrapper">
  <div class="gif-box col-md-3 col-sm-4 col-xs-6">
    <%= link_to (image_tag gif.gif_display_url, id: gif.id, class: "gif img-responsive", alt: "gif"), user_gif_path(user_id: gif.user, id: gif.id), :data => {toggle: "modal", target: "#main_modal", remote: true} %>
  </div>
</div>
