<div class="container">
  <div class="row">
    <div class="col-md-12" id="main_body">
      <%= %>
    </div>
    <div class="col-md-12" id="gifs_box">
      <%= render @gifs %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= paginate @gifs %>
    </div>
  </div>
</div>
