// Place all the styles related to the gifs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gif {
  width: 100%;
}

.gif-wrapper {
  width: 100%;
  padding-bottom: 75%;
}

.gif-box {
  height: 12vw;
  height: 120px;
  overflow: hidden;
  padding: 0 !important;
  img {
  }
}

.pagination {
  color: #60DFE5;
  margin-left: 1.5em;

  li a {
    color: #262626 !important;
  }

  .active a {
    background-color: #60DFE5 !important;
    border-color: #60DFE5 !important;
    color: #fff !important;
  }

  .page a {
    color: #60DFE5;
  }

  .gap a {
    color: #60DFE5;
  }

  .next a {
    color: #60DFE5;
  }

  .last a {
    color: #60DFE5;
  }

}
