<h4 id="niftiness_lvl">Niftiness: <%= @gif.votes.count %></h4>

<% if current_user %>
  <button type="button" class="btn btn-default" data-dismiss="modal">
      <%= link_to "UpNift", user_gif_votes_path(current_user, @gif), method: :post, remote: true %>
  </button>
<% end %>
